<footer class="footer is-centered" style="padding-bottom:3rem;">
    <div class="content has-text-centered">
        <p class="declare has-text-grey">
            <br>a <a href="https://ghost.org/" target="_blank" rel="noopener noreferrer">ghost</a> site based on <a href="https://fizzy.cc/fizzy-theme/" target="_blank" rel="noopener noreferrer">The Fizzy Theme</a>
        </p>
    </div>
</footer>